<div class="container-fluid">

  <div class="topnav">
    <h1><span style="color: red;">Snacks</span><span style="color: white;">FOODS</span></h1>
   
    <a routerLink="/form"><i style="font-size: 24px;" class="fas fa-shopping-cart"></i></a>
    <a routerLink="/login"><i style='font-size:24px' class='fas'>&#xf406;</i></a>
    <a routerLink="/register">REGISTER</a>
    <a routerLink="/">Home</a>

    <app-register></app-register>
  </div>
</div>

<div class="container-fluid bg">
 <div style="text-align: center;">
      <p>© COPYRIGHT 2021 <br><span style="color: rgb(255, 0, 0);"> SnacksFoods.COM.</span> ALL RIGHTS RESERVED.</p>
  </div>

</div>